{% extends "base.html" %}
{% load static %}
{% block head_content%}
    <title>Главная</title>
    <link href="{% static 'css/fields.css' %}" rel="stylesheet">
{% endblock %}
{% block nav_content %}
    {% include url%}
{% endblock %}

{% block page_content %}
    <p>Добро пожаловать на наш сервис поиска спортивных площадок и совместного занятия спортом!</p>
    <p>Мы рады приветствовать вас на нашей платформе, где вы можете найти исчерпывающую информацию о спортивных площадках в вашем районе и области. Наша цель - помочь вам найти и выбрать подходящую площадку для любимого вида спорта, будь то футбол, баскетбол, теннис, плавание или другие активности.</p>
    <p>Что вы найдете на нашей платформе:</p>
    <ul>
        <li>Обширную базу данных спортивных площадок с подробными описаниями и фотографиями.</li>
        <li>Удобный поиск, который позволяет находить площадки по различным критериям.</li>
        <li>Возможность отслеживать участников совместных тренировок</li>
        <li>Возможность добавлять площадки и помогать нам в развитии ресурса.</li>
    </ul>
    <p>Мы стремимся создать комфортное и вдохновляющее пространство для всех спортсменов, независимо от их уровня подготовки и целей. Наш сервис позволяет вам уделять больше времени самой практике спорта, вместо траты времени на поиск и организацию.</p>
    <p>Присоединяйтесь к нам сегодня и начните активный образ жизни вместе с нами!</p>
    {% if instance %}
        <div class="fields-container">
            <h2>Рекомендованные площадки:</h2>
        {% for i in instance %}
            <div class="field-container">
                {% if i.photo%}
                    <a href="/f/show/{{i.url_name}}"><img src="{{i.photo.url}}" alt="Фото 1" class="photo"></a>
                {% else %}
                    {% if i.sport.id == 1 %}
                        <a href="/f/show/{{i.url_name}}"><img src="{% static 'img/football.jpg' %}" alt="{{i.sport.en_name}}" class="photo"></a>
                    {% elif i.sport.id == 2 %}
                        <a href="/f/show/{{i.url_name}}"><img src="{% static 'img/volleyball.jpg' %}" alt="{{i.sport.en_name}}" class="photo"></a>
                    {% else %}
                        <a href="/f/show/{{i.url_name}}"><img src="{% static 'img/basketball.jpg' %}" alt="{{i.sport.en_name}}" class="photo"></a>
                    {% endif %}
                {% endif %}
                <div class="field-info">
                    <h4>{{i.name}}</h4>
                    {% if i.price == True %}
                        <p><i>Платная площадка</i></p>
                    {% else %}
                        <p><i>Бесплатная площадка</i></p>
                    {% endif %}
                    <p>{{i.field_info}}</p>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}
{% endblock %} 
